In [1]:
import sklearn
import pandas as pd
import numpy as np

In [2]:
col_names = ['school_name', 'state_name', 'school_id', 'district_id', 'school_level', 'native', 'asian', 'hispanic', 'black', 'white', 'pacisl', 'mixed', 'total_race', 'free_lunch', 'reduced_lunch', 'total', 'st_ratio']
missing_values = ["–", "†", "‡"]
demos = pd.read_csv("demos.csv", names = col_names, na_values = missing_values, low_memory = False)
demos = demos.drop([0]).reset_index(drop=True)

demos = demos.loc[demos['school_level'] == '3-High']
demos = demos.drop(columns=['school_level'])
demos.head()

,school_name,state_name,school_id,district_id,native,asian,hispanic,black,white,pacisl,mixed,total_race,free_lunch,reduced_lunch,total,st_ratio
0,"J.M. ""CHICK"" BUCKBEE JUVENILE CENTER",West Virginia,5.40051E+11,5400511,0,0,0,1,17,0,0,18,13,0,18,NaN
1,"JAMES H. ""TIGER"" MORTON JUVENILE CENTER",West Virginia,5.40051E+11,5400511,0,1,0,5,18,0,1,25,16,0,25,NaN
7,112 ALC AFTER SCHOOL & SUMMER SCH,Minnesota,2.70819E+11,2708190,0,0,0,0,0,0,0,0,NaN,NaN,0,NaN
10,18+ PROGRAM,NEBRASKA,3.18009E+11,3180090,0,0,0,0,0,0,0,0,NaN,NaN,0,0.00
21,21ST CENTURY SKILLS ACADEMY,Massachusetts,2.51251E+11,2512510,0,0,2,1,11,0,0,14,NaN,NaN,14,3.64

In [3]:
for i in range(2, len(demos.columns)):
    demos.iloc[:, i] = pd.to_numeric(demos.iloc[:, i], errors='coerce')
demos.total_race = demos.total_race.astype(float)
demos.school_id = demos.school_id.astype(float)
demos.district_id = demos.district_id.astype(float)

In [4]:
for i in range(4, 11):
    demos.iloc[:, i] = demos.iloc[:, i]/demos.total_race
demos.rename(columns={demos.columns[4]: "pct_native", demos.columns[5]: "pct_asian", demos.columns[6]: "pct_hispanic", demos.columns[7]: "pct_black", demos.columns[8]: "pct_white", demos.columns[9]: "pct_pacisl", demos.columns[10]: "pct_mixed"}, inplace = True)

for i in range(12, 14):
    demos.iloc[:, i] = demos.iloc[:, i]/demos.total
demos.rename(columns={demos.columns[12]: "pct_free_lunch", demos.columns[13]: "pct_reduced_lunch"})

demos_add = demos.copy()
demos = demos.drop(columns=['st_ratio'])

In [5]:
fields = ['NCESSCH', 'MAM_MTH00PCTPROF_1617', 'MAS_MTH00PCTPROF_1617', 'MBL_MTH00PCTPROF_1617', 'MHI_MTH00PCTPROF_1617', 'MTR_MTH00PCTPROF_1617', 'ECD_MTH00PCTPROF_1617', 'HOM_MTH00PCTPROF_1617', 'MIG_MTH00PCTPROF_1617']
missing_values = ["PS"]
math_achi = pd.read_csv("math_achievement.csv", usecols = fields, na_values = missing_values, low_memory = False)
math_achi.head()

,NCESSCH,MAM_MTH00PCTPROF_1617,MAS_MTH00PCTPROF_1617,MBL_MTH00PCTPROF_1617,MHI_MTH00PCTPROF_1617,MTR_MTH00PCTPROF_1617,ECD_MTH00PCTPROF_1617,HOM_MTH00PCTPROF_1617,MIG_MTH00PCTPROF_1617
0,1.000050e+10,NaN,NaN,21-39,15,21-39,25,LT50,LE10
1,1.000050e+10,NaN,NaN,LT50,LE5,NaN,13,NaN,LE20
2,1.000050e+10,NaN,NaN,21-39,30,21-39,40,LT50,20-29
3,1.000050e+10,NaN,NaN,21-39,40,21-39,49,LT50,20-29
4,1.000060e+10,NaN,NaN,NaN,LT50,LT50,35-39,LT50,NaN

In [6]:
math_achi.replace({'GE':'', 'LE':'', 'GT':'', 'LT':''}, inplace = True, regex = True)

In [7]:
for k in range(1, len(math_achi.columns)):
    math_achi.iloc[:, k] = math_achi.iloc[:, k].str.split('-').str[0]

In [8]:
for l in range(len(math_achi.columns)):
    math_achi.iloc[:, l] = pd.to_numeric(math_achi.iloc[:, l], errors='coerce')
math_achi.NCESSCH = math_achi.NCESSCH.astype(float)

In [9]:
math_achi['agg_math_achi'] = math_achi.iloc[:, 1:].mean(axis=1)
math_achi = math_achi[['NCESSCH', 'agg_math_achi']]

In [10]:
math_achi

            NCESSCH  agg_math_achi
0      1.000050e+10      23.666667
1      1.000050e+10      22.000000
2      1.000050e+10      30.333333
3      1.000050e+10      33.500000
4      1.000060e+10      46.250000
5      1.000060e+10      30.250000
6      1.000060e+10      45.000000
7      1.000060e+10      50.500000
8      1.000060e+10      21.666667
9      1.000060e+10      47.500000
10     1.000060e+10      10.000000
11     1.000060e+10      46.666667
12     1.000060e+10      19.000000
13     1.000060e+10      50.000000
14     1.000060e+10      29.333333
15     1.000060e+10      36.400000
16     1.000070e+10      50.000000
17     1.000070e+10      58.000000
18     1.000070e+10      24.200000
19     1.000070e+10      60.000000
20     1.000070e+10      54.000000
21     1.000070e+10      55.000000
22     1.000070e+10      33.800000
23     1.000070e+10      52.000000
24     1.000070e+10      56.000000
25     1.000070e+10      50.000000
26     1.000070e+10      42.000000
27     1.000070e+10      51.666667
28     1.000070e+10      42.000000
29     1.000070e+10      52.000000
...             ...            ...
90766  5.605700e+11      50.000000
90767  5.605700e+11      50.000000
90768  5.605760e+11      50.000000
90769  5.605760e+11      43.333333
90770  5.605760e+11      19.000000
90771  5.605760e+11            NaN
90772  5.605760e+11            NaN
90773  5.605760e+11      40.000000
90774  5.605760e+11      38.333333
90775  5.605760e+11      40.000000
90776  5.605760e+11      40.000000
90777  5.605760e+11      46.666667
90778  5.605760e+11            NaN
90779  5.605820e+11      21.000000
90780  5.605830e+11      40.000000
90781  5.605830e+11      20.000000
90782  5.605830e+11      34.200000
90783  5.605830e+11      50.000000
90784  5.605830e+11            NaN
90785  5.605830e+11            NaN
90786  5.605830e+11      50.000000
90787  5.605830e+11      50.000000
90788  5.606090e+11      21.000000
90789  5.606090e+11      40.000000
90790  5.606090e+11            NaN
90791  5.606240e+11      20.000000
90792  5.606240e+11      45.000000
90793  5.606240e+11      65.000000
90794  5.606240e+11      85.000000
90795  5.606240e+11      38.333333

[90796 rows x 2 columns]

In [11]:
fields = ['NCESSCH', 'MAM_RLA00PCTPROF_1617', 'MAS_RLA00PCTPROF_1617', 'MBL_RLA00PCTPROF_1617', 'MHI_RLA00PCTPROF_1617', 'MTR_RLA00PCTPROF_1617', 'ECD_RLA00PCTPROF_1617', 'HOM_RLA00PCTPROF_1617', 'MIG_RLA00PCTPROF_1617']
missing_values = ["PS"]
rla_achi = pd.read_csv("rla_achievement.csv", usecols = fields, na_values = missing_values, low_memory = False)
rla_achi.head()

,NCESSCH,MAM_RLA00PCTPROF_1617,MAS_RLA00PCTPROF_1617,MBL_RLA00PCTPROF_1617,MHI_RLA00PCTPROF_1617,MTR_RLA00PCTPROF_1617,ECD_RLA00PCTPROF_1617,HOM_RLA00PCTPROF_1617,MIG_RLA00PCTPROF_1617
0,10000500870,NaN,NaN,21-39,25,40-59,34,LT50,11-19
1,10000500871,NaN,NaN,LT50,10-14,NaN,27,NaN,LE20
2,10000500879,NaN,NaN,LE20,14,21-39,26,LT50,LE10
3,10000500889,NaN,NaN,LE20,15,21-39,27,LT50,11-19
4,10000600193,NaN,NaN,NaN,LT50,LT50,35-39,LT50,NaN

In [12]:
rla_achi.replace({'GE':'', 'LE':'', 'GT':'', 'LT':''}, inplace = True, regex = True)

In [13]:
for k in range(1, len(rla_achi.columns)):
    rla_achi.iloc[:, k] = rla_achi.iloc[:, k].str.split('-').str[0]

In [14]:
for l in range(len(rla_achi.columns)):
    rla_achi.iloc[:, l] = pd.to_numeric(rla_achi.iloc[:, l], errors='coerce')
rla_achi.NCESSCH = rla_achi.NCESSCH.astype(float)

In [15]:
rla_achi['agg_rla_achi'] = rla_achi.iloc[:, 1:].mean(axis=1)
rla_achi = rla_achi[['NCESSCH', 'agg_rla_achi']]

In [16]:
all_achi = pd.merge(math_achi, rla_achi, on='NCESSCH', how='inner')

In [17]:
# all_achi.head()

In [18]:
all_achi['agg_achi'] = all_achi.iloc[:, 1:].mean(axis=1)

In [19]:
all_achi = all_achi.dropna(subset=['agg_achi'])
all_achi = all_achi[['NCESSCH', 'agg_achi']]
all_achi = all_achi.rename(columns={'NCESSCH': 'school_id'})

In [20]:
#Insert feature of previous year achievement

fields = ['NCESSCH', 'MAM_RLA00PCTPROF_1516', 'MAS_RLA00PCTPROF_1516', 'MBL_RLA00PCTPROF_1516', 'MHI_RLA00PCTPROF_1516', 'MTR_RLA00PCTPROF_1516', 'ECD_RLA00PCTPROF_1516', 'HOM_RLA00PCTPROF_1516', 'MIG_RLA00PCTPROF_1516']
missing_values = ["PS"]
rla_achi_past = pd.read_csv("rla-achievement-sch-sy2015-16.csv", usecols = fields, na_values = missing_values, low_memory = False)
rla_achi_past.head()
rla_achi_past.replace({'GE':'', 'LE':'', 'GT':'', 'LT':''}, inplace = True, regex = True)
for k in range(1, len(rla_achi_past.columns)):
    rla_achi_past.iloc[:, k] = rla_achi_past.iloc[:, k].str.split('-').str[0]
for l in range(len(rla_achi_past.columns)):
    rla_achi_past.iloc[:, l] = pd.to_numeric(rla_achi_past.iloc[:, l], errors='coerce')
rla_achi_past.NCESSCH = rla_achi_past.NCESSCH.astype(float)
rla_achi_past['agg_rla_achi_past'] = rla_achi_past.iloc[:, 1:].mean(axis=1)
rla_achi_past = rla_achi_past[['NCESSCH', 'agg_rla_achi_past']]

In [21]:
fields = ['NCESSCH', 'MAM_MTH00PCTPROF_1516', 'MAS_MTH00PCTPROF_1516', 'MBL_MTH00PCTPROF_1516', 'MHI_MTH00PCTPROF_1516', 'MTR_MTH00PCTPROF_1516', 'ECD_MTH00PCTPROF_1516', 'HOM_MTH00PCTPROF_1516', 'MIG_MTH00PCTPROF_1516']
missing_values = ["PS"]
math_achi_past = pd.read_csv("math-achievement-sch-sy2015-16.csv", usecols = fields, na_values = missing_values, low_memory = False)
math_achi_past.head()
math_achi_past.replace({'GE':'', 'LE':'', 'GT':'', 'LT':''}, inplace = True, regex = True)
for k in range(1, len(math_achi_past.columns)):
    math_achi_past.iloc[:, k] = math_achi_past.iloc[:, k].str.split('-').str[0]
for l in range(len(math_achi_past.columns)):
    math_achi_past.iloc[:, l] = pd.to_numeric(math_achi_past.iloc[:, l], errors='coerce')
math_achi_past.NCESSCH = math_achi_past.NCESSCH.astype(float)
math_achi_past['agg_math_achi_past'] = math_achi_past.iloc[:, 1:].mean(axis=1)
math_achi_past = math_achi_past[['NCESSCH', 'agg_math_achi_past']]

In [22]:
all_achi_past = pd.merge(math_achi_past, rla_achi_past, on='NCESSCH', how='inner')
all_achi_past['agg_achi_past'] = all_achi_past.iloc[:, 1:].mean(axis=1)
all_achi_past = all_achi_past.dropna(subset=['agg_achi_past'])
all_achi_past = all_achi_past[['NCESSCH', 'agg_achi_past']]
all_achi_past = all_achi_past.rename(columns={'NCESSCH': 'school_id'})
all_achi_past

          school_id  agg_achi_past
0      1.000050e+10      19.500000
1      1.000050e+10      32.125000
2      1.000050e+10      33.642857
3      1.000050e+10      34.000000
4      1.000060e+10      36.375000
5      1.000060e+10      24.166667
6      1.000060e+10      35.000000
7      1.000060e+10      37.500000
8      1.000060e+10      23.500000
9      1.000060e+10      25.333333
10     1.000060e+10      35.500000
11     1.000060e+10      33.666667
12     1.000060e+10      15.000000
13     1.000060e+10      45.000000
14     1.000060e+10      32.750000
15     1.000060e+10      31.250000
16     1.000070e+10      34.375000
17     1.000070e+10      47.625000
18     1.000070e+10      30.625000
19     1.000070e+10      55.000000
20     1.000070e+10      45.000000
21     1.000070e+10      46.250000
22     1.000070e+10      32.625000
23     1.000070e+10      50.000000
24     1.000070e+10      48.125000
25     1.000070e+10      39.375000
26     1.000070e+10      37.625000
27     1.000070e+10      42.500000
28     1.000070e+10      34.500000
29     1.000070e+10      47.500000
...             ...            ...
88599  5.605695e+11      51.666667
88601  5.605695e+11      62.500000
88602  5.605695e+11      40.000000
88603  5.605695e+11      54.500000
88604  5.605695e+11      60.000000
88605  5.605695e+11      60.000000
88606  5.605700e+11      50.000000
88607  5.605700e+11      30.500000
88608  5.605700e+11      50.000000
88609  5.605762e+11      50.000000
88610  5.605762e+11      46.666667
88611  5.605762e+11      15.500000
88614  5.605762e+11      45.000000
88615  5.605762e+11      44.000000
88616  5.605762e+11      40.000000
88617  5.605762e+11      40.250000
88618  5.605762e+11      47.500000
88619  5.605820e+11      50.000000
88620  5.605830e+11      32.500000
88621  5.605830e+11      23.000000
88622  5.605830e+11      40.625000
88627  5.605830e+11      50.000000
88628  5.606090e+11      40.000000
88629  5.606090e+11      50.000000
88630  5.606090e+11      50.000000
88631  5.606240e+11      25.250000
88632  5.606240e+11      44.166667
88633  5.606240e+11      55.000000
88634  5.606240e+11      72.500000
88635  5.606240e+11      42.500000

[85479 rows x 2 columns]

In [23]:
fields = ['NCESSCH', 'MAM_RLA00PCTPROF_1415', 'MAS_RLA00PCTPROF_1415', 'MBL_RLA00PCTPROF_1415', 'MHI_RLA00PCTPROF_1415', 'MTR_RLA00PCTPROF_1415', 'ECD_RLA00PCTPROF_1415', 'HOM_RLA00PCTPROF_1415', 'MIG_RLA00PCTPROF_1415']
missing_values = ["PS"]
rla_achi_past_2 = pd.read_csv("rla-achievement-sch-sy2014-15.csv", usecols = fields, na_values = missing_values, low_memory = False)
rla_achi_past_2.head()
rla_achi_past_2.replace({'GE':'', 'LE':'', 'GT':'', 'LT':''}, inplace = True, regex = True)
for k in range(1, len(rla_achi_past_2.columns)):
    rla_achi_past_2.iloc[:, k] = rla_achi_past_2.iloc[:, k].str.split('-').str[0]
for l in range(len(rla_achi_past_2.columns)):
    rla_achi_past_2.iloc[:, l] = pd.to_numeric(rla_achi_past_2.iloc[:, l], errors='coerce')
rla_achi_past_2.NCESSCH = rla_achi_past.NCESSCH.astype(float)
rla_achi_past_2['agg_rla_achi_past_2'] = rla_achi_past.iloc[:, 1:].mean(axis=1)
rla_achi_past_2 = rla_achi_past_2[['NCESSCH', 'agg_rla_achi_past_2']]


fields = ['NCESSCH', 'MAM_MTH00PCTPROF_1415', 'MAS_MTH00PCTPROF_1415', 'MBL_MTH00PCTPROF_1415', 'MHI_MTH00PCTPROF_1415', 'MTR_MTH00PCTPROF_1415', 'ECD_MTH00PCTPROF_1415', 'HOM_MTH00PCTPROF_1415', 'MIG_MTH00PCTPROF_1415']
missing_values = ["PS"]
math_achi_past_2 = pd.read_csv("math-achievement-sch-sy2014-15.csv", usecols = fields, na_values = missing_values, low_memory = False)
math_achi_past_2.head()
math_achi_past_2.replace({'GE':'', 'LE':'', 'GT':'', 'LT':''}, inplace = True, regex = True)
for k in range(1, len(math_achi_past_2.columns)):
    math_achi_past_2.iloc[:, k] = math_achi_past_2.iloc[:, k].str.split('-').str[0]
for l in range(len(math_achi_past_2.columns)):
    math_achi_past_2.iloc[:, l] = pd.to_numeric(math_achi_past_2.iloc[:, l], errors='coerce')
math_achi_past_2.NCESSCH = math_achi_past_2.NCESSCH.astype(float)
math_achi_past_2['agg_math_achi_past_2_2'] = math_achi_past_2.iloc[:, 1:].mean(axis=1)
math_achi_past_2 = math_achi_past_2[['NCESSCH', 'agg_math_achi_past_2_2']]

all_achi_past_2 = pd.merge(math_achi_past_2, rla_achi_past_2, on='NCESSCH', how='inner')
all_achi_past_2['agg_achi_past_2'] = all_achi_past_2.iloc[:, 1:].mean(axis=1)
all_achi_past_2 = all_achi_past_2.dropna(subset=['agg_achi_past_2'])
all_achi_past_2 = all_achi_past_2[['NCESSCH', 'agg_achi_past_2']]
all_achi_past_2 = all_achi_past_2.rename(columns={'NCESSCH': 'school_id'})
all_achi_past_2

          school_id  agg_achi_past_2
0      1.000050e+10        18.000000
1      1.000050e+10        32.125000
2      1.000050e+10        31.095238
3      1.000050e+10        32.750000
4      1.000060e+10        37.625000
5      1.000060e+10        25.000000
6      1.000060e+10        32.750000
7      1.000060e+10        36.725000
8      1.000060e+10        23.666667
9      1.000060e+10        21.333333
10     1.000060e+10        35.500000
11     1.000060e+10        35.333333
12     1.000060e+10        15.000000
13     1.000060e+10        43.333333
14     1.000060e+10        33.075000
15     1.000060e+10        25.000000
16     1.000070e+10        32.225000
17     1.000070e+10        47.625000
18     1.000070e+10        33.225000
19     1.000070e+10        51.458333
20     1.000070e+10        40.500000
21     1.000070e+10        44.250000
22     1.000070e+10        34.500000
23     1.000070e+10        48.000000
24     1.000070e+10        43.875000
25     1.000070e+10        35.625000
26     1.000070e+10        33.250000
27     1.000070e+10        42.875000
28     1.000070e+10        37.125000
29     1.000070e+10        46.500000
...             ...              ...
85129  5.605695e+11        50.000000
85130  5.605695e+11        42.500000
85131  5.605695e+11        53.000000
85132  5.605695e+11        58.750000
85133  5.605695e+11        55.000000
85134  5.605700e+11        50.000000
85135  5.605700e+11        28.000000
85136  5.605700e+11        42.500000
85137  5.605762e+11        50.000000
85138  5.605762e+11        41.666667
85139  5.605762e+11        18.000000
85142  5.605762e+11        40.000000
85143  5.605762e+11        44.500000
85144  5.605762e+11        37.750000
85145  5.605762e+11        37.750000
85146  5.605762e+11        42.750000
85147  5.605820e+11        50.000000
85148  5.605830e+11        35.666667
85149  5.605830e+11        18.250000
85150  5.605830e+11        40.625000
85154  5.605830e+11        50.000000
85155  5.605830e+11        50.000000
85156  5.606090e+11        30.500000
85157  5.606090e+11        45.000000
85158  5.606090e+11        50.000000
85159  5.606240e+11        23.250000
85160  5.606240e+11        43.125000
85161  5.606240e+11        46.500000
85162  5.606240e+11        72.500000
85163  5.606240e+11        42.291667

[83725 rows x 2 columns]

In [53]:
df1 = pd.merge(demos, all_achi_past_2, on='school_id', how='inner')
df1 = pd.merge(df1, all_achi_past, on='school_id', how='inner')
df1 = pd.merge(df1, all_achi, on='school_id', how='inner')
df1 = df1.drop(columns=['school_name', 'state_name', 'school_id', 'district_id', 'total_race'])

df1_na_dropped = df1.dropna(how="any")
%store df1_na_dropped
print df1_na_dropped.size

for i in range(len(df1.columns)):
    df1.iloc[:, i] = df1.iloc[:, i].fillna(df1.iloc[:, i].median(skipna=True))
%store df1

Stored 'df1_na_dropped' (DataFrame)
20332
Stored 'df1' (DataFrame)

In [25]:
df1.dtypes

pct_native         float64
pct_asian          float64
pct_hispanic       float64
pct_black          float64
pct_white          float64
pct_pacisl         float64
pct_mixed          float64
free_lunch         float64
reduced_lunch      float64
total              float64
agg_achi_past_2    float64
agg_achi_past      float64
agg_achi           float64
dtype: object

In [26]:
df1.size

32539

In [27]:
data = df1.values

In [28]:
data

array([[0.00000000e+00, 4.17754569e-02, 1.27937337e-01, ...,
        4.50000000e+01, 4.02500000e+01, 5.00000000e+01],
       [7.15990453e-03, 4.77326969e-03, 8.13842482e-01, ...,
        4.41666667e+01, 4.00000000e+01, 4.75000000e+01],
       [0.00000000e+00, 2.80898876e-03, 1.68539326e-02, ...,
        2.10000000e+01, 1.50000000e+01, 2.55000000e+01],
       ...,
       [5.18134715e-03, 2.22057735e-02, 3.29385640e-01, ...,
        3.61250000e+01, 3.68750000e+01, 4.45833333e+01],
       [2.10157618e-02, 6.12959720e-03, 8.76532399e-01, ...,
        1.08333333e+01, 1.00000000e+01, 1.98750000e+01],
       [4.87804878e-03, 4.67289720e-03, 5.46728972e-01, ...,
        1.70833333e+01, 1.05000000e+01, 2.00000000e+01]])

In [29]:
features = data[:, 0:12]
labels = data[:, 12]

In [30]:
from sklearn.model_selection import train_test_split
train, test, train_labels, test_labels = train_test_split(features, labels, test_size = 0.2)

In [31]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression(normalize=True)

In [32]:
model = lr.fit(train, train_labels)

In [33]:
score = model.score(test, test_labels)
print(score)

0.7223004058951947

Multi-Class Classification

In [34]:
print('max:', df1['agg_achi'].max())
print('min: ', df1['agg_achi'].min())

('max:', 88.33333333333333)
('min: ', 5.0)

In [35]:
bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 101]
names = ['[0-10)', '[10-20)', '[20-30)', '[30-40)', '[40-50)', '[50-60)', '[60-70)', '[70-80)', '[80-90)', '[90-100]']
df1['agg_achc'] = pd.cut(df1.agg_achi, bins, labels = names, right = False)

In [36]:
df1.head()

,pct_native,pct_asian,pct_hispanic,pct_black,pct_white,pct_pacisl,pct_mixed,free_lunch,reduced_lunch,total,agg_achi_past_2,agg_achi_past,agg_achi,agg_achc
0,0.000000,0.041775,0.127937,0.036554,0.775457,0.005222,0.013055,0.052219,0.039164,383.0,45.000000,40.250000,50.000000,[50-60)
1,0.007160,0.004773,0.813842,0.076372,0.095465,0.000000,0.002387,0.632458,0.062053,419.0,44.166667,40.000000,47.500000,[40-50)
2,0.000000,0.002809,0.016854,0.643258,0.308989,0.000000,0.028090,0.792135,0.087079,356.0,21.000000,15.000000,25.500000,[20-30)
3,0.005691,0.053802,0.741852,0.028971,0.144853,0.005173,0.019659,0.443870,0.115882,1933.0,45.125000,45.000000,46.400000,[40-50)
4,0.006903,0.047455,0.885246,0.028473,0.026747,0.002516,0.005177,0.821398,0.099223,1159.0,26.083333,31.333333,27.041667,[20-30)

In [37]:
multi_class_data = df1.values

In [38]:
multi_class_data

array([[0.0, 0.04177545691906005, 0.1279373368146214, ..., 40.25, 50.0,
        '[50-60)'],
       [0.007159904534606206, 0.00477326968973747, 0.8138424821002387,
        ..., 40.0, 47.5, '[40-50)'],
       [0.0, 0.0028089887640449437, 0.016853932584269662, ..., 15.0,
        25.5, '[20-30)'],
       ...,
       [0.0051813471502590676, 0.02220577350111029, 0.32938564026646927,
        ..., 36.875, 44.58333333333333, '[40-50)'],
       [0.021015761821366025, 0.006129597197898424, 0.8765323992994746,
        ..., 10.0, 19.875, '[10-20)'],
       [0.004878048780487805, 0.004672897196261682, 0.5467289719626168,
        ..., 10.5, 20.0, '[20-30)']], dtype=object)

In [39]:
mc_features = multi_class_data[:, 0:12]
mc_labels = multi_class_data[:, 13]

In [40]:
mc_train, mc_test, mc_train_labels, mc_test_labels = train_test_split(mc_features, mc_labels, test_size = 0.2)

In [41]:
from sklearn.linear_model import LogisticRegression
mclr = LogisticRegression(solver = 'lbfgs', max_iter=100000, multi_class='multinomial')

In [42]:
mc_model = mclr.fit(mc_train, mc_train_labels)

/Users/samanthakim/anaconda2/lib/python2.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

In [43]:
import sklearn.metrics
mc_score = mc_model.score(mc_test, mc_test_labels)
print(mc_score)

0.5169660678642715

In [44]:
mc_test = mc_test[:, 10]
bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 101]
names = ['[0-10)', '[10-20)', '[20-30)', '[30-40)', '[40-50)', '[50-60)', '[60-70)', '[70-80)', '[80-90)', '[90-100]']
mc_test = pd.cut(mc_test, bins, labels = names, right = False)
mc_test

[[20-30), [50-60), [20-30), [30-40), [50-60), ..., [0-10), [20-30), [40-50), [50-60), [20-30)]
Length: 501
Categories (10, object): [[0-10) < [10-20) < [20-30) < [30-40) ... [60-70) < [70-80) < [80-90) < [90-100]]

In [45]:
from sklearn.metrics import accuracy_score
accuracy_score(mc_test_labels, mc_test_labels)

1.0

In [46]:
multi_class_data = df1.values

In [47]:
multi_class_data

array([[0.0, 0.04177545691906005, 0.1279373368146214, ..., 40.25, 50.0,
        '[50-60)'],
       [0.007159904534606206, 0.00477326968973747, 0.8138424821002387,
        ..., 40.0, 47.5, '[40-50)'],
       [0.0, 0.0028089887640449437, 0.016853932584269662, ..., 15.0,
        25.5, '[20-30)'],
       ...,
       [0.0051813471502590676, 0.02220577350111029, 0.32938564026646927,
        ..., 36.875, 44.58333333333333, '[40-50)'],
       [0.021015761821366025, 0.006129597197898424, 0.8765323992994746,
        ..., 10.0, 19.875, '[10-20)'],
       [0.004878048780487805, 0.004672897196261682, 0.5467289719626168,
        ..., 10.5, 20.0, '[20-30)']], dtype=object)

In [48]:
mc_features = multi_class_data[:, 0:10]
mc_labels = multi_class_data[:, 11]

In [49]:
mc_train, mc_test, mc_train_labels, mc_test_labels = train_test_split(mc_features, mc_labels, test_size = 0.2)

In [50]:
from sklearn.linear_model import LogisticRegression
mclr = LogisticRegression(solver = 'lbfgs', max_iter=10000, multi_class='multinomial')

In [51]:
mc_model = mclr.fit(mc_train, mc_train_labels)

ValueError: Unknown label type: 'unknown'

In [ ]:
mc_score = mc_model.score(mc_test, mc_test_labels)
print(mc_score)